<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de projets</title>
    <link rel="stylesheet" href="/css/styles_dash_member.css">
</head>
<body>
    <header>
        <!-- <h1>Système de gestion de projets</h1>
        <h2><%= name_orga %></h2> -->
		<a href="#" class="logo-holder">
			<div class="logo">GP</div>
			<div class="logo-text">Gestion Projet</div>
		</a>
		<nav>
			<ul id="menu">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#skills">Team</a>
				</li>
				<li>
					<a href="#projects">Projects</a>
				</li>
				<li>
					<a href="mailto:hello@adriantwarog.com" class="button">organization</a>
				</li>
			</ul>
			<a href="#" class="mobile-toggle" onClick="toggleMobileMenu();">
				<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
					<path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h10"/>
				</svg>
			</a>
		</nav>
    </header><br><br>
    
    <main>
        <section id="projects">
            <h1>Liste des projets</h1>
            <ul id="project-list">
               <% console.log(admin.id_project) %> 
                <%if(projects.length > 0){ 
                    projects.forEach(project => {
                        if(admin.id_project.indexOf(project._id.toString()) != -1){%>
                            <li> <a style="text-decoration: none;" id="upd" href="/project/details/<%= project._id  %>" >Designation : <%= project.name  %>
                                <p>Date de debut : <%= project.date_start %></p>
                                <p>Deadline : <%= project.deadline %></p>
                                <p>Description : <%= project.description %></p>
                            
                            </a> </li>
                        
                    <% }})} else{%> 
                        <li>Aucun projet</li>
                    <% } %>
            </ul>
        </section>

    </main>

    <script src="script.js"></script>
</body>
</html>
