<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du projet</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
		<a href="#" class="logo-holder">
			<div class="logo">GP</div>
			<div class="logo-text">Gestion Projet</div>
		</a>
		<nav>
			<ul id="menu">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#skills">Team</a>
				</li>
				<li>
					<a href="#projects">Projects</a>
				</li>
				<li>
					<a href="mailto:hello@adriantwarog.com" class="button">organization</a>
				</li>
			</ul>
			<a href="#" class="mobile-toggle" onClick="toggleMobileMenu();">
				<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
					<path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h10"/>
				</svg>
			</a>
		</nav>

        <!-- <h1 id="project-title"><%= project.name %></h1>
        <h3>Date initialisation : <%= project.date_start %></h2>
        <h3>Date de fin : <%= project.deadline %></h2> -->
    </header> <br>
    
    <main>
        <ul class="menu_">
            <li>Nom : <%= project.name %></li>
            <li>Date debut : <%= project.date_start %></li>
            <li>Deadline : <%= project.deadline %></li>
        </ul>
        <section id="tasks" class="scrol-tasks">
            <h2>Liste des tâches</h2>
            <ul id="task-list">
                <% if(tasks.length > 0 && members.length > 0){ 
                    tasks.forEach(task => { %>
                        <li> 
                            <h3 style="color: green;">Nom de la tache : <%= task.name  %></h3>
                            <h3>Executee par <%=  %></h4>
                            <ul>
                                <%console.log(task), task.assignedTo.forEach(id=>{ %>
                                <% members.forEach(member=>{
                                    if(member._id == id){%>
                                    
                                    <ol><em><%= member.name;%></em></p></ol>
                                <% }})}); %>
                            </ul>
                            <h3>Deadline : <%= task.deadline %></h3>
                            <h3>Priorite : <%= task.priority %></h3>
                        
                        
                        </li>
                    <% })} else{%> 
                        <li>Aucune tache</li>
                    <% } %>
            </ul>
        </section>

        <section id="add-task">
            <h2>Ajouter une nouvelle tâche</h2>
            <form method="post" action="/project/add-task"  id="task-form">
                <label for="task-name">Nom de la tâche :</label>
                <input name="name" type="text" id="task-name" required>
                
                <label for="task-priority">Priorité :</label>
                <select id="task-priority" required name="priority">
                    <option value="basse">Basse</option>
                    <option value="moyenne">Moyenne</option>
                    <option value="haute">Haute</option>
                </select>
                
                <label for="task-deadline">Date limite :</label>
                <input name="deadline" type="date" id="task-deadline" required>

                <label for="members">Tache assignee a :</label>

                <div id="members" class="scrollable">  

                    <% if(members.length > 0) {
                        members.forEach(member => { %>
                            <div>
                                <input type="checkbox" id="member-<%= member._id %>" name="members" value="<%= member._id %>">
                                <label for="member-<%= member._id %>"><%= member.name %></label>
                            </div>
                        <% })}
                         else{%> 
                            <option value="0">Aucun membre</option>
                        <% } %>

                </div>
                <button type="submit">Ajouter la tâche</button>
            </form>
        </section>
    </main>

    <!-- <script src="script.js"></script> -->
</body>
</html>
