<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du projet</title>
    <link rel="stylesheet" href="/css/styles_dash_member.css">
</head>
<body>
    <header>
        <a href="#" class="logo-holder">
			<div class="logo">GP</div>
			<div class="logo-text">Gestion Projet</div>
		</a>
		<nav>
			<ul id="menu">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#skills">Team</a>
				</li>
				<li>
					<a href="#projects">Projects</a>
				</li>
				<li>
					<a href="mailto:hello@adriantwarog.com" class="button">organization</a>
				</li>
			</ul>
			<a href="#" class="mobile-toggle" onClick="toggleMobileMenu();">
				<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
					<path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h10"/>
				</svg>
			</a>
		</nav>
    </header> <br>
    
    <main>
        <section id="tasks" class="scrol-tasks">
            <h2>Liste des tâches</h2>
            <ul id="task-list">
                <%isMyTask = false
                 if(tasks.length > 0 && members.length > 0){ 
                    tasks.forEach(task => {
                        if(members.includes(user._id.toString())){
                            isMyTask = true
                        }
                        else{
                            isMyTask = false} %>
                        <li> 
                            <p>Nom de la tache : <%= task.name  %></p>
                            <p>Executee par <%=  %></p>
                            <ul>
                                <%console.log(task), task.assignedTo.forEach(id=>{
                                    if(user._id.toString() == id){isMyTask = true} %>
                                <% members.forEach(member=>{
                                    if(member._id == id){%>
                                    
                                    <ol><small><%= member.name;%></small></p> </ol>
                                <% }})}); %>
                            </ul>
                            <p>Deadline : <%= task.deadline %></p>
                            <p>Priorite : <%= task.priority %></p>
                            <p>Etat : <%= task.state %></p>
                        <br>
                        <%if(isMyTask){
                            if(task.state == 'En cours' && isMyTask){%>
                                <a class="finish" href="/project/finish-task/<%= task.id %>">Terminer</a> <a style="background-color: #007bff;" class="finish" href="">Reporter</a>
                            <% }else{%>
                            <p><small style="color: #007bff;">Vous faites parti des executant(e) de la tache</small></p>
                        <% }} %>


                        </li>
                    <% })} else{%> 
                        <li>Aucune tache</li>
                    <% } %>
            </ul>
        </section>
    </main>

    <!-- <script src="script.js"></script> -->
</body>
</html>
